**What was the average inflation rate when their subscriptions were renewed?**

In [1]:
import pandas as pd

In [2]:
subscription_df = pd.read_csv('../data/subscription_information.csv')

In [3]:
subscription_df

     client_id subscription_type  start_date    end_date  renewed
0   1131383004            Yearly  2020-11-11  2021-11-11    False
1   4309371709           Monthly  2021-05-24  2021-06-23     True
2   3183675157            Yearly  2021-12-25  2022-12-25     True
3   5371694837           Monthly  2020-03-14  2020-04-13     True
4   5157113076           Monthly  2019-11-07  2019-12-07    False
..         ...               ...         ...         ...      ...
95  4519356806           Monthly  2018-03-04  2018-04-03     True
96  9714663815           Monthly  2020-11-11  2020-12-11     True
97  9598980006           Monthly  2019-06-16  2019-07-16     True
98  3157098196           Monthly  2021-11-11  2021-12-11     True
99  8540187780           Monthly  2021-02-16  2021-03-18     True

[100 rows x 5 columns]

Filtering all the clients who have renewed their subscription

In [4]:
renewed_subscription_df = subscription_df[subscription_df['renewed'] == True]

In [5]:
renewed_subscription_df

     client_id subscription_type  start_date    end_date  renewed
1   4309371709           Monthly  2021-05-24  2021-06-23     True
2   3183675157            Yearly  2021-12-25  2022-12-25     True
3   5371694837           Monthly  2020-03-14  2020-04-13     True
5   7896208406            Yearly  2022-02-24  2023-02-24     True
6   4687291312            Yearly  2019-06-14  2020-06-13     True
7   7744303708            Yearly  2022-10-11  2023-10-11     True
8   6038028440            Yearly  2018-12-03  2019-12-03     True
9   6955217420           Monthly  2019-07-07  2019-08-06     True
11  6209923307           Monthly  2021-07-05  2021-08-04     True
14  4280387012            Yearly  2022-11-25  2023-11-25     True
15  5980553707            Yearly  2021-08-30  2022-08-30     True
22  6751372012           Monthly  2018-05-29  2018-06-28     True
23  5217987067           Monthly  2019-07-19  2019-08-18     True
26  5536015034           Monthly  2019-11-15  2019-12-15     True
27  8155233099           Monthly  2020-06-03  2020-07-03     True
28  4194777577           Monthly  2021-12-18  2022-01-17     True
29  9699223737            Yearly  2018-04-03  2019-04-03     True
33  7462725203           Monthly  2018-05-21  2018-06-20     True
35  5443254615            Yearly  2020-06-25  2021-06-25     True
38  2490056820           Monthly  2020-04-04  2020-05-04     True
39  4760390973            Yearly  2022-01-06  2023-01-06     True
41  8988409533            Yearly  2020-05-15  2021-05-15     True
42  5762095219           Monthly  2021-06-02  2021-07-02     True
43  7776577102           Monthly  2020-12-17  2021-01-16     True
44  6366816003           Monthly  2022-02-17  2022-03-19     True
45  3325348894           Monthly  2019-07-09  2019-08-08     True
47  5387264885           Monthly  2022-03-06  2022-04-05     True
49  2609337231           Monthly  2020-11-04  2020-12-04     True
53  3758633299           Monthly  2021-04-24  2021-05-24     True
55  5983139564            Yearly  2020-03-29  2021-03-29     True
57  9031632460            Yearly  2019-07-06  2020-07-05     True
60  3185596104           Monthly  2022-11-14  2022-12-14     True
61  7225516707            Yearly  2021-01-19  2022-01-19     True
64  6774252233           Monthly  2018-12-12  2019-01-11     True
65  3683504527           Monthly  2018-04-12  2018-05-12     True
66  8207710174           Monthly  2018-12-19  2019-01-18     True
67  8719792472            Yearly  2018-02-10  2019-02-10     True
69  4343385571            Yearly  2018-11-28  2019-11-28     True
71  1089413096           Monthly  2019-04-21  2019-05-21     True
72  9329180414           Monthly  2021-06-03  2021-07-03     True
74  2315920532           Monthly  2019-04-01  2019-05-01     True
76  9626357024           Monthly  2022-09-25  2022-10-25     True
77  3510240337            Yearly  2020-12-07  2021-12-07     True
81  8884551090            Yearly  2022-09-02  2023-09-02     True
82  5698091148           Monthly  2020-08-04  2020-09-03     True
85  7465144773           Monthly  2021-09-07  2021-10-07     True
87  1298566280            Yearly  2019-09-01  2020-08-31     True
89  8004867726           Monthly  2019-06-16  2019-07-16     True
90  6292156167            Yearly  2019-09-16  2020-09-15     True
93  9842414729           Monthly  2022-11-11  2022-12-11     True
95  4519356806           Monthly  2018-03-04  2018-04-03     True
96  9714663815           Monthly  2020-11-11  2020-12-11     True
97  9598980006           Monthly  2019-06-16  2019-07-16     True
98  3157098196           Monthly  2021-11-11  2021-12-11     True
99  8540187780           Monthly  2021-02-16  2021-03-18     True

In [6]:
renewed_subscription_df.shape

(55, 5)

In [7]:
financial_df = pd.read_csv('../data/financial_information.csv')

In [8]:
financial_df

    Unnamed: 0  start_date    end_date  inflation_rate  gdp_growth_rate
0            0  2018-01-01  2018-03-31            5.77             3.51
1            1  2018-04-01  2018-06-30            1.17             2.15
2            2  2018-07-01  2018-09-30            1.56             1.82
3            3  2018-10-01  2018-12-31            2.78             2.43
4            4  2019-01-01  2019-03-31            6.91             3.44
5            5  2019-04-01  2019-06-30            3.84             3.48
6            6  2019-07-01  2019-09-30            7.71             1.35
7            7  2019-10-01  2019-12-31            2.71             1.79
8            8  2020-01-01  2020-03-31            4.40             1.36
9            9  2020-04-01  2020-06-30            4.69             1.23
10          10  2020-07-01  2020-09-30            1.43             2.40
11          11  2020-10-01  2020-12-31            3.10             2.70
12          12  2021-01-01  2021-03-31            2.57             1.18
13          13  2021-04-01  2021-06-30            0.76             3.63
14          14  2021-07-01  2021-09-30            7.19             1.04
15          15  2021-10-01  2021-12-31            7.32             1.73
16          16  2022-01-01  2022-03-31            6.76             2.72
17          17  2022-04-01  2022-06-30            6.80             3.49
18          18  2022-07-01  2022-09-30            5.60             3.31
19          19  2022-10-01  2022-12-31            4.40             1.05
20          20  2023-01-01  2023-01-03            5.49             3.44

In [9]:
financial_df = financial_df.drop(['Unnamed: 0'], axis = 1)

In [10]:
financial_df

    start_date    end_date  inflation_rate  gdp_growth_rate
0   2018-01-01  2018-03-31            5.77             3.51
1   2018-04-01  2018-06-30            1.17             2.15
2   2018-07-01  2018-09-30            1.56             1.82
3   2018-10-01  2018-12-31            2.78             2.43
4   2019-01-01  2019-03-31            6.91             3.44
5   2019-04-01  2019-06-30            3.84             3.48
6   2019-07-01  2019-09-30            7.71             1.35
7   2019-10-01  2019-12-31            2.71             1.79
8   2020-01-01  2020-03-31            4.40             1.36
9   2020-04-01  2020-06-30            4.69             1.23
10  2020-07-01  2020-09-30            1.43             2.40
11  2020-10-01  2020-12-31            3.10             2.70
12  2021-01-01  2021-03-31            2.57             1.18
13  2021-04-01  2021-06-30            0.76             3.63
14  2021-07-01  2021-09-30            7.19             1.04
15  2021-10-01  2021-12-31            7.32             1.73
16  2022-01-01  2022-03-31            6.76             2.72
17  2022-04-01  2022-06-30            6.80             3.49
18  2022-07-01  2022-09-30            5.60             3.31
19  2022-10-01  2022-12-31            4.40             1.05
20  2023-01-01  2023-01-03            5.49             3.44

In [11]:
renewed_subscription_df.reset_index(drop = True)
financial_df.reset_index(drop = True)

    start_date    end_date  inflation_rate  gdp_growth_rate
0   2018-01-01  2018-03-31            5.77             3.51
1   2018-04-01  2018-06-30            1.17             2.15
2   2018-07-01  2018-09-30            1.56             1.82
3   2018-10-01  2018-12-31            2.78             2.43
4   2019-01-01  2019-03-31            6.91             3.44
5   2019-04-01  2019-06-30            3.84             3.48
6   2019-07-01  2019-09-30            7.71             1.35
7   2019-10-01  2019-12-31            2.71             1.79
8   2020-01-01  2020-03-31            4.40             1.36
9   2020-04-01  2020-06-30            4.69             1.23
10  2020-07-01  2020-09-30            1.43             2.40
11  2020-10-01  2020-12-31            3.10             2.70
12  2021-01-01  2021-03-31            2.57             1.18
13  2021-04-01  2021-06-30            0.76             3.63
14  2021-07-01  2021-09-30            7.19             1.04
15  2021-10-01  2021-12-31            7.32             1.73
16  2022-01-01  2022-03-31            6.76             2.72
17  2022-04-01  2022-06-30            6.80             3.49
18  2022-07-01  2022-09-30            5.60             3.31
19  2022-10-01  2022-12-31            4.40             1.05
20  2023-01-01  2023-01-03            5.49             3.44

In [ ]:
Joining renewed_subscription_df with financial_df to get the inflation rate when renewal

In [12]:
merged_df = renewed_subscription_df.merge(financial_df, how = 'cross')

In [13]:
merged_df

,client_id,subscription_type,start_date_x,end_date_x,renewed,start_date_y,end_date_y,inflation_rate,gdp_growth_rate
0,4309371709,Monthly,2021-05-24,2021-06-23,True,2018-01-01,2018-03-31,5.77,3.51
1,4309371709,Monthly,2021-05-24,2021-06-23,True,2018-04-01,2018-06-30,1.17,2.15
2,4309371709,Monthly,2021-05-24,2021-06-23,True,2018-07-01,2018-09-30,1.56,1.82
3,4309371709,Monthly,2021-05-24,2021-06-23,True,2018-10-01,2018-12-31,2.78,2.43
4,4309371709,Monthly,2021-05-24,2021-06-23,True,2019-01-01,2019-03-31,6.91,3.44
...,...,...,...,...,...,...,...,...,...
1150,8540187780,Monthly,2021-02-16,2021-03-18,True,2022-01-01,2022-03-31,6.76,2.72
1151,8540187780,Monthly,2021-02-16,2021-03-18,True,2022-04-01,2022-06-30,6.80,3.49
1152,8540187780,Monthly,2021-02-16,2021-03-18,True,2022-07-01,2022-09-30,5.60,3.31
1153,8540187780,Monthly,2021-02-16,2021-03-18,True,2022-10-01,2022-12-31,4.40,1.05
1154,8540187780,Monthly,2021-02-16,2021-03-18,True,2023-01-01,2023-01-03,5.49,3.44

In [14]:
merged_df = merged_df[
    (merged_df['start_date_x'] >= merged_df['start_date_y']) &
    (merged_df['start_date_x'] <= merged_df['end_date_y'])
]
merged_df = merged_df.reset_index(drop = True)
merged_df

,client_id,subscription_type,start_date_x,end_date_x,renewed,start_date_y,end_date_y,inflation_rate,gdp_growth_rate
0,4309371709,Monthly,2021-05-24,2021-06-23,True,2021-04-01,2021-06-30,0.76,3.63
1,3183675157,Yearly,2021-12-25,2022-12-25,True,2021-10-01,2021-12-31,7.32,1.73
2,5371694837,Monthly,2020-03-14,2020-04-13,True,2020-01-01,2020-03-31,4.40,1.36
3,7896208406,Yearly,2022-02-24,2023-02-24,True,2022-01-01,2022-03-31,6.76,2.72
4,4687291312,Yearly,2019-06-14,2020-06-13,True,2019-04-01,2019-06-30,3.84,3.48
5,7744303708,Yearly,2022-10-11,2023-10-11,True,2022-10-01,2022-12-31,4.40,1.05
6,6038028440,Yearly,2018-12-03,2019-12-03,True,2018-10-01,2018-12-31,2.78,2.43
7,6955217420,Monthly,2019-07-07,2019-08-06,True,2019-07-01,2019-09-30,7.71,1.35
8,6209923307,Monthly,2021-07-05,2021-08-04,True,2021-07-01,2021-09-30,7.19,1.04
9,4280387012,Yearly,2022-11-25,2023-11-25,True,2022-10-01,2022-12-31,4.40,1.05
10,5980553707,Yearly,2021-08-30,2022-08-30,True,2021-07-01,2021-09-30,7.19,1.04
11,6751372012,Monthly,2018-05-29,2018-06-28,True,2018-04-01,2018-06-30,1.17,2.15
12,5217987067,Monthly,2019-07-19,2019-08-18,True,2019-07-01,2019-09-30,7.71,1.35
13,5536015034,Monthly,2019-11-15,2019-12-15,True,2019-10-01,2019-12-31,2.71,1.79
14,8155233099,Monthly,2020-06-03,2020-07-03,True,2020-04-01,2020-06-30,4.69,1.23
15,4194777577,Monthly,2021-12-18,2022-01-17,True,2021-10-01,2021-12-31,7.32,1.73
16,9699223737,Yearly,2018-04-03,2019-04-03,True,2018-04-01,2018-06-30,1.17,2.15
17,7462725203,Monthly,2018-05-21,2018-06-20,True,2018-04-01,2018-06-30,1.17,2.15
18,5443254615,Yearly,2020-06-25,2021-06-25,True,2020-04-01,2020-06-30,4.69,1.23
19,2490056820,Monthly,2020-04-04,2020-05-04,True,2020-04-01,2020-06-30,4.69,1.23
20,4760390973,Yearly,2022-01-06,2023-01-06,True,2022-01-01,2022-03-31,6.76,2.72
21,8988409533,Yearly,2020-05-15,2021-05-15,True,2020-04-01,2020-06-30,4.69,1.23
22,5762095219,Monthly,2021-06-02,2021-07-02,True,2021-04-01,2021-06-30,0.76,3.63
23,7776577102,Monthly,2020-12-17,2021-01-16,True,2020-10-01,2020-12-31,3.10,2.70
24,6366816003,Monthly,2022-02-17,2022-03-19,True,2022-01-01,2022-03-31,6.76,2.72
25,3325348894,Monthly,2019-07-09,2019-08-08,True,2019-07-01,2019-09-30,7.71,1.35
26,5387264885,Monthly,2022-03-06,2022-04-05,True,2022-01-01,2022-03-31,6.76,2.72
27,2609337231,Monthly,2020-11-04,2020-12-04,True,2020-10-01,2020-12-31,3.10,2.70
28,3758633299,Monthly,2021-04-24,2021-05-24,True,2021-04-01,2021-06-30,0.76,3.63
29,5983139564,Yearly,2020-03-29,2021-03-29,True,2020-01-01,2020-03-31,4.40,1.36
30,9031632460,Yearly,2019-07-06,2020-07-05,True,2019-07-01,2019-09-30,7.71,1.35
31,3185596104,Monthly,2022-11-14,2022-12-14,True,2022-10-01,2022-12-31,4.40,1.05
32,7225516707,Yearly,2021-01-19,2022-01-19,True,2021-01-01,2021-03-31,2.57,1.18
33,6774252233,Monthly,2018-12-12,2019-01-11,True,2018-10-01,2018-12-31,2.78,2.43
34,3683504527,Monthly,2018-04-12,2018-05-12,True,2018-04-01,2018-06-30,1.17,2.15
35,8207710174,Monthly,2018-12-19,2019-01-18,True,2018-10-01,2018-12-31,2.78,2.43
36,8719792472,Yearly,2018-02-10,2019-02-10,True,2018-01-01,2018-03-31,5.77,3.51
37,4343385571,Yearly,2018-11-28,2019-11-28,True,2018-10-01,2018-12-31,2.78,2.43
38,1089413096,Monthly,2019-04-21,2019-05-21,True,2019-04-01,2019-06-30,3.84,3.48
39,9329180414,Monthly,2021-06-03,2021-07-03,True,2021-04-01,2021-06-30,0.76,3.63
40,2315920532,Monthly,2019-04-01,2019-05-01,True,2019-04-01,2019-06-30,3.84,3.48
41,9626357024,Monthly,2022-09-25,2022-10-25,True,2022-07-01,2022-09-30,5.60,3.31
42,3510240337,Yearly,2020-12-07,2021-12-07,True,2020-10-01,2020-12-31,3.10,2.70
43,8884551090,Yearly,2022-09-02,2023-09-02,True,2022-07-01,2022-09-30,5.60,3.31
44,5698091148,Monthly,2020-08-04,2020-09-03,True,2020-07-01,2020-09-30,1.43,2.40
45,7465144773,Monthly,2021-09-07,2021-10-07,True,2021-07-01,2021-09-30,7.19,1.04
46,1298566280,Yearly,2019-09-01,2020-08-31,True,2019-07-01,2019-09-30,7.71,1.35
47,8004867726,Monthly,2019-06-16,2019-07-16,True,2019-04-01,2019-06-30,3.84,3.48
48,6292156167,Yearly,2019-09-16,2020-09-15,True,2019-07-01,2019-09-30,7.71,1.35
49,9842414729,Monthly,2022-11-11,2022-12-11,True,2022-10-01,2022-12-31,4.40,1.05
50,4519356806,Monthly,2018-03-04,2018-04-03,True,2018-01-01,2018-03-31,5.77,3.51
51,9714663815,Monthly,2020-11-11,2020-12-11,True,2020-10-01,2020-12-31,3.10,2.70
52,9598980006,Monthly,2019-06-16,2019-07-16,True,2019-04-01,2019-06-30,3.84,3.48
53,3157098196,Monthly,2021-11-11,2021-12-11,True,2021-10-01,2021-12-31,7.32,1.73
54,8540187780,Monthly,2021-02-16,2021-03-18,True,2021-01-01,2021-03-31,2.57,1.18

In [15]:
average_inflation_rate = float(round(merged_df['inflation_rate'].mean(), 2))

In [16]:
from IPython.display import display, Markdown
display(Markdown(f'The **average inflation rate** is {average_inflation_rate}.'))

The **average inflation rate** is 4.44.